trigger:
- main

pool: terraform

steps:
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'aap1'
    backendAzureRmOverrideSubscriptionID: '762b3486-079b-43e4-bcec-90f087ae5476'
    backendAzureRmResourceGroupName: 'aks'
    backendAzureRmStorageAccountName: 'backend4389'
    backendAzureRmContainerName: 'aks'
    backendAzureRmKey: 'terraform.tf'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory/env/dev)'
    environmentServiceNameAzureRM: 'aap1'