trigger:
- main

pool: ak

stages:
  - stage: terraformtask
    jobs:
      - job: terraforminit
        displayName: 'terraform init'
        steps:
          - task: PowerShell@2
            inputs:
             targetType: 'inline'
             script: 'terraform init'